<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>浏览题目</title>
</head>
<body>
{% load static %}

<ul>
{#    <li><a href="{% url 'admin' %}">添加题目</a></li>#}
    <li><a href="{% url 'problems:index' %}">浏览题目</a></li>
</ul>

{% if latest_problem_list %}
    <ul>
        {% for problem in latest_problem_list %}
            <li><a href="{% url 'problems:detail' problem.id %}">
                {{ problem.problem_text | safe }}
            </a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>暂时没有更新题目</p>
{% endif %}

</body>
</html>